main.auction {
    width: clamp(0px, 100%, 1700px);

    display: flex;
    justify-content: space-around;
    gap: 2vw;

    padding: 7vh 3vw;

    margin: 0 auto;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        gap: 4vh;
    }

    .item-buy {
        width: clamp(0px, 49%, 500px);
        height: max-content;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 2vh;

        position: sticky;
        position: -webkit-sticky;
        top: 150px;

        @media screen and (max-width: 768px) {
            position: static;
            width: 100%;
        }

        .item-img {
            width: 100%;
            aspect-ratio: 1 / 1;
            object-fit: cover;

            border-radius: 10px;
        }

        .cta {
            width: 100%;
            padding: 1em;
            background-color: var(--ten-percent);
            border-radius: 10px;
            color: white;
        }

        .item-price {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;

            &::before,
            &::after {
                content: '';
                width: 100%;
                height: 2px;
                background-color: black;
            }

            span {
                white-space: nowrap;
                padding: 0 1em;
            }
        }
    }

    .item-details {
        width: clamp(0px, 75%, 1300px);

        display: flex;
        flex-direction: column;
        gap: 4vh;

        @media screen and (max-width: 768px) {
            width: 100%;
        }

        .item-intro {
            width: 100%;

            background-color: white;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border-radius: 10px;

            display: flex;
            flex-direction: column;
            gap: 4vh;

            padding: 2em;

            h2 {
                font-family: 'arvandBold';
            }
        }
        .item-buyers {
            width: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4vh;

            background-color: white;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

            border-radius: 10px;

            padding: 2.5em 2em;

            @media screen and (max-width: 768px) {
                padding: 1.5em 0.5em;
            }

            h3 {
                width: 100%;
                display: flex;
                align-items: center;

                font-family: 'arvandBold';

                &::before,
                &::after {
                    content: '';

                    width: 100%;
                    height: 2px;
                }

                &::before {
                    background-image: linear-gradient(
                        to right,
                        rgb(0, 0, 0),
                        rgba(255, 0, 0, 0)
                    );
                }

                &::after {
                    background-image: linear-gradient(
                        to left,
                        rgb(0, 0, 0),
                        transparent
                    );
                }

                span {
                    white-space: nowrap;
                    padding: 0 20px;
                }
            }
            table {
                width: 100%;
                border-spacing: 1em;

                thead {
                    margin-bottom: 2vh;
                }
                tbody {
                    &:before {
                        content: '@';
                        display: block;
                        line-height: 0.5rem;
                        text-indent: -99999px;
                    }
                    tr {
                        text-align: center;
                    }
                }
            }
        }
    }
}
