.nav-container-pc {
    @media screen and (max-width: 768px) {
        display: none;
    }

    width: 100%;

    background-color: white;

    position: -webkit-sticky;
    position: sticky;
    top: 0;

    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 2vw;

    .nav-logo {
        font-family: 'ordibehesht';
        color: hsl(353 95% 55% / 1);
        font-size: 3.5em;
        margin: -0.2em 0;
    }
    .nav-links {
        display: flex;
        align-items: center;

        .nav-link {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5em;

            padding: 1em 1.2em;
        }
    }
}

.nav-container-mobile {
    @media screen and (min-width: 769px) {
        display: none;
    }

    width: 100%;

    background-color: white;

    position: -webkit-sticky;
    position: sticky;
    top: 0;

    z-index: 997;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 4vw;

    .nav-logo {
        font-family: 'ordibehesht';
        color: hsl(353 95% 55% / 1);
        font-size: 3.5em;
        margin: -0.2em 0;
    }
}

.nav-mobile-open {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;

    background-color: white;

    transform: translateX(200%);

    will-change: transform;
    transition: transform 0.5s cubic-bezier(0.45, 0.02, 0.09, 0.98);

    z-index: 998;

    &.active {
        transform: translateX(0);
    }
}
