.clocktick-container {
    position: relative;
    width: 25px;
    aspect-ratio: 1/1;

    // background-color: var(--description-color);
    border-radius: 100vmax;
    box-shadow: black 0px 0px 0px 2px inset;
    display: grid;
    place-items: center;

    &::before {
        content: '';

        position: absolute;
        top: 0;
        transform: translateY(-100%);

        border-radius: 100vmax;

        width: 30%;
        height: 2px;

        background-color: black;

        z-index: 1;
    }

    &::after {
        content: '';

        position: absolute;

        background-color: var(--primary-color);
        border-radius: 100vmax;

        height: 50%;
        width: 2px;
        top: -0.5px;
        transform-origin: bottom;

        z-index: 2;

        animation: 1s cubic-bezier(0.45, 0.02, 0.09, 0.98) infinite clock-rotate;

        @keyframes clock-rotate {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
}
