main.home {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 4vh;

    color: black;

    overflow-y: auto;

    $titlesY: 250px;
    $itemsY: 1000px;

    @media screen and (max-width: 768px) {
        overflow: auto;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 0px;
        }
    }

    section.hero-section {
        width: 100%;
        min-height: 100vh;

        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;

        overflow: hidden;

        $ANIM_DURATION: 1s;

        @media screen and (max-width: 1024px) {
            gap: 2vh;
        }
        @media screen and (max-width: 768px) {
            justify-content: flex-start;

            height: auto;
            padding: 3vh 0;
            padding-bottom: 5vh;

            gap: 4vh;
        }

        .titles-wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;

            transform: translateY($titlesY);

            z-index: 1;

            will-change: transform;

            @media screen and (max-width: 768px) {
                gap: 2vh;
            }

            &.active {
                animation: titles-slideup cubic-bezier(0.45, 0.02, 0.09, 0.98)
                    $ANIM_DURATION forwards;

                @keyframes titles-slideup {
                    from {
                        transform: translateY($titlesY);
                    }
                    to {
                        transform: translateY(0);
                    }
                }
            }

            header {
                display: flex;
                align-items: center;
                gap: 1em;

                object {
                    width: 75px;
                    aspect-ratio: 1/1;
                }
            }
            .typer {
                font-family: 'arvandBold';
                font-size: 0.9em;

                padding: 0 1em;

                span {
                    text-align: center;
                }
            }
        }

        .items-wrapper {
            width: clamp(0px, 100%, 1500px);

            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            column-gap: 1vw;
            row-gap: 3vh;

            padding: 0 1em;

            transform: translateY($itemsY);
            opacity: 0;

            will-change: transform, opacity;

            &.active {
                animation: items-slidein $ANIM_DURATION
                    cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;
            }

            @media screen and (max-width: 768px) {
                flex-direction: column;
                align-items: center;
            }
            @media screen and (max-width: 1024px) {
                justify-content: space-around;
            }

            @keyframes items-slidein {
                from {
                    transform: translateY($itemsY);
                    opacity: 0;
                }
                to {
                    transform: translateY(0);
                    opacity: 1;
                }
            }

            .hero-item {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-between;

                width: clamp(0px, 100%, 350px);
                aspect-ratio: 1/1.4;

                padding: 1em;

                background-image: linear-gradient(
                    to bottom,
                    rgba(235, 101, 100, 1) 15%,
                    rgba(255, 159, 138, 1) 35%,
                    rgba(255, 255, 255, 1) 50%
                );
                background-color: color-mix(
                    in lch,
                    var(--thirty-percent) 85%,
                    white
                );
                border-radius: 3rem 3rem 5px 5px;
                box-shadow:
                    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
                    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

                @media screen and (max-width: 1440px) {
                    width: clamp(0px, 100%, 320px);
                }
                @media screen and (max-width: 1024px) {
                    width: clamp(0px, 100%, 300px);
                }

                img.item-img {
                    max-height: 100%;
                    width: 100%;
                    aspect-ratio: 1.5/1;
                    object-fit: cover;

                    border-radius: 2rem 2rem 5px 5px;
                }

                .item-details {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 2vh;

                    width: 100%;

                    .detail-row {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;

                        .holder {
                            display: flex;
                            align-items: center;
                            gap: 0.5em;

                            font-family: 'yekanBold';

                            p {
                                color: black;
                                font: inherit;
                            }
                        }

                        .data {
                            font-family: 'yekan';

                            &.number {
                                font-family: 'number';
                            }
                        }
                    }
                }

                button.item-goto {
                    width: 100%;
                    padding: 0.7em;
                    border-radius: 1rem 1rem 0;

                    display: grid;
                    place-items: center;

                    background: var(--ten-percent);
                    color: white;

                    overflow: hidden;
                    position: relative;
                    isolation: isolate;

                    transition: 0.5s ease-out;

                    &::before {
                        content: '';

                        position: absolute;
                        width: 500px;
                        height: 500px;

                        border-radius: 100vmax;
                        transition: box-shadow 0.5s ease-out;

                        z-index: -1;
                    }

                    &:hover {
                        color: black;
                        &::before {
                            box-shadow: inset 0 0 0 250px var(--addon-percent);
                        }
                    }
                }
            }
        }
        .cta-wrapper {
            width: clamp(0px, 100%, 500px);
            display: flex;
            align-items: center;
            justify-content: space-around;

            margin-top: -3vh;
            margin-bottom: 3vh;

            opacity: 0;

            will-change: opacity;

            &.active {
                animation: buttons-fadein $ANIM_DURATION
                    cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;
            }
            @keyframes buttons-fadein {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }

            @media screen and (max-width: 768px) {
                align-items: center;
                flex-direction: column;

                margin: 0;

                width: 100%;
                gap: 2vh;
                padding: 0 1em;

                button {
                    width: clamp(0px, 100%, 350px);

                    font-size: clamp(0.9rem, 0.5rem + 1.9vw, 1.25rem);
                }
            }
            @media screen and (max-width: 1024px) {
                margin: 0;
            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1em 3em;

                font-family: 'arvandBold';

                border-radius: 1rem;

                &.main {
                    background-color: var(--addon-percent);
                    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

                    white-space: nowrap;
                }

                &:not(.main) {
                    background-color: transparent;
                    border: 2px solid var(--ten-percent);
                    border-radius: 10px;
                }
            }
        }
    }
}
