main.home {
    width: 100%;
    height: 100dvh;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4vh;

    color: black;

    overflow-y: auto;

    $titlesY: 200px;
    $itemsY: 1000px;

    section.hero-section {
        width: 100%;
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8vh;

        overflow: hidden;

        $ANIM_DURATION: 0.8s;

        .titles-wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 2vh;

            transform: translateY($titlesY);

            z-index: 1;

            &.active {
                animation: titles-slideup cubic-bezier(0.45, 0.02, 0.09, 0.98)
                    $ANIM_DURATION forwards;

                @keyframes titles-slideup {
                    from {
                        transform: translateY($titlesY);
                    }
                    to {
                        transform: translateY(0);
                    }
                }
            }

            header {
                display: flex;
                align-items: center;
                gap: 1em;

                object {
                    width: 75px;
                    aspect-ratio: 1/1;
                }
            }
            .typer {
                font-family: 'arvandBold';
                font-size: 0.9em;
            }
        }

        .items-wrapper {
            width: clamp(0px, 100%, 1000px);

            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            row-gap: 3vh;

            transform: translateY($itemsY);
            opacity: 0;

            &.active {
                animation: items-slidein $ANIM_DURATION
                    cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;
            }

            @keyframes items-slidein {
                from {
                    transform: translateY($itemsY);
                    opacity: 0;
                }
                to {
                    transform: translateY(0);
                    opacity: 1;
                }
            }

            .hero-item {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-between;

                width: clamp(0px, 100%, 350px);
                aspect-ratio: 1/1.4;

                padding: 1em;

                background-image: linear-gradient(
                    to bottom,
                    rgba(235, 101, 100, 1) 15%,
                    rgba(255, 159, 138, 1) 35%,
                    rgba(255, 255, 255, 1) 50%
                );
                background-color: color-mix(
                    in lch,
                    var(--thirty-percent) 85%,
                    white
                );
                border-radius: 3rem 3rem 5px 5px;
                box-shadow:
                    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
                    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

                img.item-img {
                    max-height: 100%;
                    width: 100%;
                    aspect-ratio: 2/1;
                    object-fit: cover;

                    border-radius: 2rem 2rem 5px 5px;
                }

                .item-details {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 2vh;

                    width: 100%;

                    .detail-row {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;

                        .holder {
                            display: flex;
                            align-items: center;
                            gap: 0.5em;

                            font-family: 'yekanBold';

                            p {
                                color: black;
                                font: inherit;
                            }
                        }

                        .data {
                            font-family: 'yekan';

                            &.number {
                                font-family: 'number';
                            }
                        }
                    }
                }

                button.item-goto {
                    width: 100%;
                    padding: 0.7em;
                    border-radius: 1rem 1rem 0;

                    display: grid;
                    place-items: center;

                    background: var(--ten-percent);
                    color: white;

                    overflow: hidden;
                    position: relative;
                    isolation: isolate;

                    transition: 0.5s ease-out;

                    &::before {
                        content: '';

                        position: absolute;
                        width: 500px;
                        height: 500px;

                        border-radius: 100vmax;
                        transition: box-shadow 0.5s ease-out;

                        z-index: -1;
                    }

                    &:hover {
                        color: black;
                        &::before {
                            box-shadow: inset 0 0 0 250px var(--addon-percent);
                        }
                    }
                }
            }
        }
    }
}
